/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #7715a5;
  color:rgb(38, 7, 53);
  font-family: 'Segoe UI';
}

a{
  text-decoration: none;
}
